{% extends "layout.html" %}
{% block content %}

<form class="row justify-content-center" action="{{ url_for('add_expense') }}" method="POST">
    <div class="container">
        <div class="col-md-4 offset-md-4 text-center">
            <h1 class="brand">Add Your Expense</h1>
            {{ form.csrf_token }}
            {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="mb-3 text-center">
                <label for="category" class="form-label">Enter Category</label>
                <input type="text" class="form-control" id="category" name="category" autocomplete="off" required>
            </div>
            <div class="mb-3 text-center">
                <label for="amount" class="form-label">Enter Amount (£)</label>
                <input type="number" step="0.01" class="form-control" id="amount" name="amount" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-primary" role="button">Submit</button>
        </div>
    </div>
</form>

{% endblock %}