{% extends "layout.html" %}
{% block content %}

<form class="row justify-content-center" action="{{ url_for('edit_income', income_id=income.income_id) }}"
      autocomplete="off" method="POST">
    <div class="container">
        <div class="col-md-4 offset-md-4 text-center">
            <h1 class="brand">Amend Your Income</h1>
            <div class="mb-3 text-center">
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category" name="category" value="{{ income.category }}" required>
            </div>
            <div class="mb-3 text-center">
                <label for="amount" class="form-label">Enter Amount (£)</label>
                <input type="number" class="form-control" id="amount" name="amount" value='{{ "%.2f"|format(income.get_amount()) }}'
                min="0" step="0.01" required>
            </div>
            <button type="submit" class="btn btn-primary" href="{{ url_for('dashboard') }}" role="button">Save Changes</button>
        </div>
    </div>
</form>

{% endblock %}